#UL li {
  border: 1px solid #ddd;
  margin-right:10px;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 14px;
  color: black;
  display: block;
}
#UL{
	height:900px;
  	border:1px solid #ccc;
  	font:16px/26px Georgia, Garamond, Serif;
  	overflow:auto;
}

#Message{
	font-size:20px;
	width:90%;
}

#Envoyer{
	font-size:20px;
	width:8.5%;
}